<p id="notice"><%= notice %></p>

<h1><%= @member.name %>'s Friends</h1>

<table>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= link_to friend.friend_member.name, member_path(friend.friend_member) %></td>
        <td><%= link_to 'Destroy', member_friend_path(friend.member,friend), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_member_friend_path %> |
<%= link_to 'Back', member_path(@member) %>

