<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @friend.member %>
</p>

<p>
  <strong>Friend member:</strong>
  <%= @friend.friend_member %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
