
<h1>Member</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= render 'link_website', member: @member %>
</p>

<p>
  <strong>About:</strong>
  <ul>
  <% @member.headings.each do |heading| %>
      <li><%= heading.text %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Friends:</strong>
  <%= link_to @member.friends.size, member_friends_path(@member) %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Destroy', @member, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', members_path %>
