<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Url long:</strong>
  <%= @member.url_long %>
</p>

<p>
  <strong>Url short:</strong>
  <%= @member.url_short %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
